.arc {
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.25s ease-out;
    
    width: var(--width);
    height: var(--width);
    /* use height lol */
    left: calc(var(--width) / -2);
}

.arc-label {
    transform: rotate(90deg);
    position: absolute;
}
