.OrbitDisplay {
    padding: 10px 15px;
    background-color: #0006;
    border-radius: 15px;
    border: 1px solid #fff;
    top: 15px;
    right: 15px;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: 0.25s ease-out;
}

.orbit-display-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-1);
}

.orbit-display-element {
    display: flex;
    width: 450px;
    /* gap: 20px; */
    align-items: center;
    justify-content: space-between;
}

.orbit-display-element.label {
    color: var(--color-2);
    font-weight: bold;
}

.orbit-display-name {
    flex: 0 0 75px;
}

.orbit-display-au {
    flex: 0 0 75px;
}

.orbit-display-peroid {
    flex: 0 0 175px;
}

.orbit-display-velocity {
    flex: 0 0 75px;
}